# Pandas
## Series

In [1]:
import numpy as np
import pandas as pd

In [3]:
labels = ['a', 'b', 'c']
my_data = [10, 20, 30]
array = np.array(data)
d = {'a': 10, 'b': 20, 'c':30 }

In [4]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [5]:
pd.Series(data = my_data, index = labels)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series( my_data, labels)

a    10
b    20
c    30
dtype: int64

In [7]:
pd.Series(array)

0    10
1    20
2    30
dtype: int32

In [8]:
d

{'a': 10, 'b': 20, 'c': 30}

In [9]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [12]:
pd.Series(d) +  pd.Series(d)

a    20
b    40
c    60
dtype: int64

## Datafram

In [17]:
np.random.seed(101)

In [18]:
df = pd.DataFrame(np.random.randn(5,4),['A','B','C','D','E'], ['W','X','Y','Z'])
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [20]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [21]:
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [24]:
df[['W','Z','X']]

          W         Z         X
A  2.706850  0.503826  0.628133
B  0.651118  0.605965 -0.319318
C -2.018168 -0.589001  0.740122
D  0.188695  0.955057 -0.758872
E  0.190794  0.683509  1.978757

In [25]:
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [26]:
df.iloc[0]

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [29]:
df.loc[ 'B', 'Y']

-0.84807698340363147

In [30]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [31]:
df.loc[['B','C'],['Y','Z']]

          Y         Z
B -0.848077  0.605965
C  0.528813 -0.589001

In [33]:
booldf = df > 0

In [34]:
df[booldf]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [35]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [39]:
df[df['W']>0][['X','Y']]

          X         Y
A  0.628133  0.907969
B -0.319318 -0.848077
D -0.758872 -0.933237
E  1.978757  2.605967

In [41]:
df['W']>0

A     True
B     True
C    False
D     True
E     True
Name: W, dtype: bool

In [42]:
True & True

True

In [48]:
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [55]:
new_index = 'CA NY WY OR CO'.split()

In [56]:
df['New_index'] = new_index

In [57]:
df

          W         X         Y         Z New_index
A  2.706850  0.628133  0.907969  0.503826        CA
B  0.651118 -0.319318 -0.848077  0.605965        NY
C -2.018168  0.740122  0.528813 -0.589001        WY
D  0.188695 -0.758872 -0.933237  0.955057        OR
E  0.190794  1.978757  2.605967  0.683509        CO

In [60]:
df.set_index('New_index')

                  W         X         Y         Z
New_index
CA         2.706850  0.628133  0.907969  0.503826
NY         0.651118 -0.319318 -0.848077  0.605965
WY        -2.018168  0.740122  0.528813 -0.589001
OR         0.188695 -0.758872 -0.933237  0.955057
CO         0.190794  1.978757  2.605967  0.683509

In [2]:
import numpy as np
import pandas as pd

In [3]:
t = 0.5
w1 = .3
w2 = 0.9
w3 = .1
w4 = .8
w5 = .4
w6 = .6
a = .35
b = .9
er = []
o = []
for i in range(100):
    def Sigmo(z):
        return 1/(1+np.exp(-z))
    
    def FP(a,b,w3,w4,w5,w6,w1,w2):
        top = Sigmo(a*w3 + b*w4)
        bot = Sigmo(a*w5 + b*w6)
        final = Sigmo(w1*top + w2*bot)
        return top, bot, final
    
    top,bot,final = FP(a,b,w3,w4,w5,w6,w1,w2)

    def error(o,t=0.5):
        delta = (t-o) * (1 - o) * o
        return delta
    
    delta = error(final)

    def New_weight(w1,w2,delta,top,bot):
        w1 = w1+(delta*top)
        w2 = w2+(delta*bot)
        return w1,w2

    w1,w2 = New_weight(w1,w2,delta,top,bot)

    def error_hidd(delta,w1,w2,top,bot):
        delta1 = delta * w1 * (1-top)*top
        delta2 = delta * w2 * (1-bot)*bot
        return delta1,delta2

    delta1, delta2 = error_hidd(delta,w1,w2,top,bot)

    def New_Hidd_Layer(a,b,w3,w4,w5,w6):
        w3 = w3 + (delta1*a)
        w4 = w4 + (delta1*b)
        w5 = w5 + (delta1*a)
        w6 = w6 + (delta1*b)
        return w3,w4,w5,w6
    w3,w4,w5,w6 = New_Hidd_Layer(a,b,w3,w4,w5,w6)
    o.append(.5)
    er.append(delta)

In [4]:
df = pd.DataFrame(o,er)

In [5]:
df

             0
-0.040681  0.5
-0.039509  0.5
-0.038291  0.5
-0.037036  0.5
-0.035755  0.5
-0.034457  0.5
-0.033149  0.5
-0.031841  0.5
-0.030539  0.5
-0.029250  0.5
-0.027980  0.5
-0.026732  0.5
-0.025513  0.5
-0.024324  0.5
-0.023169  0.5
-0.022050  0.5
-0.020969  0.5
-0.019926  0.5
-0.018923  0.5
-0.017959  0.5
-0.017036  0.5
-0.016152  0.5
-0.015307  0.5
-0.014500  0.5
-0.013731  0.5
-0.012998  0.5
-0.012300  0.5
-0.011637  0.5
-0.011007  0.5
-0.010408  0.5
...        ...
-0.000981  0.5
-0.000926  0.5
-0.000874  0.5
-0.000824  0.5
-0.000778  0.5
-0.000734  0.5
-0.000693  0.5
-0.000653  0.5
-0.000617  0.5
-0.000582  0.5
-0.000549  0.5
-0.000518  0.5
-0.000489  0.5
-0.000461  0.5
-0.000435  0.5
-0.000410  0.5
-0.000387  0.5
-0.000365  0.5
-0.000345  0.5
-0.000325  0.5
-0.000307  0.5
-0.000290  0.5
-0.000273  0.5
-0.000258  0.5
-0.000243  0.5
-0.000229  0.5
-0.000216  0.5
-0.000204  0.5
-0.000193  0.5
-0.000182  0.5

[100 rows x 1 columns]